1 icon "ERPModUserUtils.ico"

1 VERSIONINFO
FILEVERSION 2023,0,9,0
PRODUCTVERSION 2023,0,9,0
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "0C0904E4"
	{
		VALUE "CompanyName", "TrueERP"
		VALUE "FileDescription", "ERP User Utilities Module"
		VALUE "FileVersion", "2023.0.9.0"
		VALUE "InternalName", ""
		VALUE "LegalCopyright", ""
		VALUE "LegalTrademarks", ""
		VALUE "OriginalFilename", ""
		VALUE "ProductName", ""
		VALUE "ProductVersion", "2023.0.9.0 "
		VALUE "Comments", ""
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0C09 0x04E4  
}
}

